# data import

In [53]:
import pandas as pd

In [54]:
raw_data = pd.read_csv("https://raw.githubusercontent.com/connoralydon/simplify-job-scraper/main/output.csv")
raw_data.head(10)

,title,company,location,date_opened,applied,screen,interview,offer,rejected,archived
0,associate software engineer,geocent,seal beach,11/5/22,1,0,0,0,0,0
1,backend software engineer,fandom,remote,11/3/22,1,0,0,0,0,0
2,mesh network software engineer,anduril,newport beach\t ca\t usa,11/3/22,1,0,0,0,0,0
3,software engineer (python),wavicle,remote,11/2/22,1,0,0,0,1,0
4,software engineer\t monitoring,vercel,remote,11/2/22,1,0,0,0,0,0
5,software engineer (mid-level),cfive solutions,anaheim remote,11/1/22,1,0,0,0,0,0
6,software developer (java & python),extend information systems,remote,11/1/22,1,0,0,0,0,0
7,software engineer\t backend (fully remote),clicktime,remote,11/1/22,1,0,0,0,0,0
8,software engineer in data,wiliot,remote/hybrid poway,11/1/22,1,0,0,1,0,0
9,software engineer,federal reserve of ksmo,kansas city mo remote,10/31/22,1,0,0,0,0,0

## adding and modifying attributes

In [55]:
# add remote
raw_data["remote"] = raw_data["title"].str.contains("remote") | raw_data["location"].str.contains("remote")

In [56]:
# dropping columns that don't add value
# my collection method made these values unusable
raw_data.drop(columns=["archived","screen","interview","applied"], inplace=True, errors='ignore')

In [57]:
# converting to bool
for col in ["offer","rejected"]:
    raw_data[col] = raw_data[col].astype(int)
    raw_data[col] = raw_data[col].astype(bool)

In [58]:
# taking out special whitespace characters
raw_data["title"] = raw_data["title"].str.replace("\s"," ",regex=True)
raw_data["location"] = raw_data["location"].str.replace("\s"," ",regex=True)
raw_data["location"] = raw_data["location"].str.replace("usa"," ")

In [59]:
# converting dates to date time
raw_data["date_opened"] = pd.to_datetime(raw_data["date_opened"])

In [60]:
raw_data.head()

,title,company,location,date_opened,offer,rejected,remote
0,associate software engineer,geocent,seal beach,2022-11-05,False,False,False
1,backend software engineer,fandom,remote,2022-11-03,False,False,True
2,mesh network software engineer,anduril,newport beach ca,2022-11-03,False,False,False
3,software engineer (python),wavicle,remote,2022-11-02,False,True,True
4,software engineer monitoring,vercel,remote,2022-11-02,False,False,True

In [61]:
raw_data.to_csv("jobs.csv", index = False)